@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

:root {
  --bg--clr--primary: #fafafa;
  --bg--clr--header: #ffffff;
  --clr--primary: #000000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.container {
  max-width: 15060px;
  max-height: 1359px;
  background: var(--bg--clr--primary);
  overflow: auto;
}

.header {
  width: 1560px;
  height: 80px;
  background: var(--bg--clr--header);
  overflow: hidden;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.main-container {
  width: 1560px;
  height: 1250px;
  overflow: hidden;
}

.nav {
  width: 242px;
  height: 1250px;
  background: var(--bg--clr--header);
  float: left;
  position: relative;
  display: flex;
  justify-content: center;
}

.dashboard {
  width: 1310px;
  height: 1260px;
  float: left;
}

.menu-bar {
  width: 18px;
  height: 18px;
}

.logo {
  width: 142px;
  height: 30px;
}

.search {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  align-items: center;
}
.search-ico {
  width: 16px;
  height: 16px;
}

.search > p {
  width: auto;
  height: 21px;
  text-align: left;
  font-size: 16px;
  font-family: "Roboto";
  color: var(--clr--primary);
}

.header__basic {
  display: flex;
  gap: 5rem;
}

.company {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  margin-left: 29px;
  align-items: center;
}

.user-profile {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.more {
  padding: 3px;
}

.nav > ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
  margin-top: 25px;
}

.nav > ul > li {
  width: 183px;
  height: 43px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding: 12.5px;
  font-family: "Roboto";
}

.nav > ul > li > a {
  text-decoration: none;
  color: var(--clr--primary);
}

.nav > ul > li > img {
  width: 15px;
  height: 15px;
}

.nav > ul > li:hover {
  width: 153px;
  height: 43px;
  background: #fff3f4;
  border-radius: 5px;
  color: #c8242f;
}

.dash__header {
  width: 146px;
  height: 39px;
  margin-top: 40.75px;
  margin-left: 48px;
}

.dash__header > h1 {
  text-align: left;
  font-size: "Roboto";
  font-size: 30px;
  color: var(--clr--primary);
}

.product {
  margin-top: 40.75px;
  margin-left: 48px;
  display: grid;
  grid-template-columns: repeat(5, auto);
}

.products {
  width: 219px;
  height: 116px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 1rem;
  background: var(--bg--clr--header);
  border-radius: 5px;
  align-items: center;
}

.products > img {
  width: 26px;
  height: 26px;
}

.measure {
  margin-top: 40.75px;
  margin-left: 48px;
  display: grid;
  grid-template-columns: auto auto;
}

.sale {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.measure__time {
  display: flex;
}

.measure__time > p {
  width: 80px;
  height: 16px;
  text-align: left;
  font-family: "Roboto";
  color: #adadad;
  padding: 5px;
}

.measure__time > p > a{
  text-decoration: none;
  color: #adadad;
}

.measure__time > p:last-child > a {
  border-bottom: 1px solid red;
  color: #c8242f;
  padding: 5px;
}

.measure__time > p > a:hover {
  border-bottom: 1px solid red;
  color: #c8242f;
}

.data__graph {
  width: 802px;
  height: 400px;
  background: var(--bg--clr--header);
  border-radius: 5px;
}

.data__graph > img {
  padding: 1rem;
}

.piechart {
  width: 385px;
  height: 398px;
  background: var(--bg--clr--header);
  border-radius: 5px;
}

.piechart > img {
  margin-left: 89px;
  margin-top: 27.48px;
}

.piechart > h3 {
  height: 29px;
  text-align: left;
  font-family: "Roboto";
  font-size: 22px;
  letter-spacing: 0px;
  color: #3e3e3e;
  padding: 1rem;
}

.lists > ul > li {
  /* width: 166px; */
  height: 20px;
  text-align: left;
  font-family: "Roboto";
  letter-spacing: 0px;
  color: #3e3e3e;
  font-size: 15px;
}

.lists > ul {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  list-style-position: inside;
  align-items: center;
}

.lists > ul > .usa::marker {
  color: #c8242f;
  font-size: 2em;
}

.lists > ul > .canada::marker {
  color: #a2b86c;
  font-size: 2em;
}
.lists > ul > .russia::marker {
  color: #f16c20;
  font-size: 2em;
}
.lists > ul > .india::marker {
  color: #ebc844;
  font-size: 2em;
}

.invoice {
  width: 1217px;
  height: 558px;
  background-color: var(--bg--clr--header);
  border-radius: 5px;
  margin-left: 50px;
  margin-top: 30px;
}

.invoice > .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 29px;
}
.invoice > .text .title {
  font-family: "Roboto";
  font-size: 22px;
  letter-spacing: 0px;
  color: #3e3e3e;
}

/* .invoice .text .views {
  font-family: "Roboto";
  font-size: 12px;
  color: #c8242f;
} */

.views a {
text-decoration: none;
font-family: "Roboto";
font-size: 12px;
color: #c8242f;
}

.table {
  height: 558px;
}

.table table {
  width: 100%;
}

table, th, td {
  border-bottom: 1px solid #adadad;
  border-collapse: collapse;
}

table, tr:last-child > td {
  border-bottom: none;
}
.table,
th,
td {
  padding: 12.13px;
  text-align: left;
}

table th {
  text-align: left;
  font-family: "Roboto";
  font-size: 15px;
  letter-spacing: 1.5px;
  color: #adadad;
}

.status-paid {
  background: #ebffef;
  border-radius: 5px;
  text-align: left;
  font-family: "Roboto";
  color: #3cdd5f;
  font-size: 15px;
  padding: 10px;
}

.status-failed {
  background: #fff5f5;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
  font-family: "Roboto";
  font-size: 15px;
  color: #ff4545;
}

.status-pending {
  width: 54px;
  height: 20px;
  text-align: left;
  font-family: 'Roboto';
  font-size: 15px;
  color: #BABABA;
  background: #F8F8F8;
border-radius: 5px;
}
