@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

:root {
  --bg--clr--primary: #fafafa;
  --bg--clr--header: #ffffff;
  --clr--primary: #000000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.container {
  max-width: 1560px;
  min-height: 720px;
  border: 2px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.login__img {
  border: 2px solid black;
}
.login__img img {
  max-width: 576px;
  max-height: 576px;
  box-shadow: 0px 4px 31px #0000000a;
  border: 20px solid #ffffff;
  border-radius: 50%;
  align-items: center;
}

.form {
  border: 2px solid blue;
  padding: 10px;
}

.logo {
  top: 106px;
  left: 906px;
  max-width: 272px;
  height: 58px;
}

@media only screen and (max-width: 600px) {
  .login__img {
    min-width: 350px;
  }

  .login__img img{
    width: 300px;
  }

  .container {
    gap: 2rem;
  }
}
